<app-container class="full main-center" [hasHeader]="true">
    <ng-container slot="breadcrumb">
        <app-breadcrumb pageName="Erro">
            <app-breadcrumb-item>Erro</app-breadcrumb-item>
        </app-breadcrumb>
    </ng-container>

    <app-illustration
        illustration="people_talking_while_training"
        alt="Ilustração de uma mulher e um homem conversando enquanto treinam"
    >
        <ng-container slot="title">
            Ocorreu um <span class="green">erro</span>.<br>
            Por favor, <span class="green">tente novamente</span>.
        </ng-container>
    </app-illustration>
</app-container>
